ultralytics==8.3.0
face_recognition==1.3.0
setuptools<70.0.0
# opencv-python==4.10.0.84 <- replaced by "opencv-python-headless"
numpy
faster-whisper 
sounddevice 
scipy 
torchaudio
nvidia-cublas-cu12 
nvidia-cudnn-cu12
omegaconf 
soundfile
keyboard
evdev
PyQt5
opencv-python-headless
ddgs
chromadb
num2words
openwakeword
# "sudo chmod a+rw /dev/input/event*" <- MUST grant permission once before running the bot


# Note that sometime Errors related to ""/.../cv2/qt/plugins"" may occur, because maybe the ultralytics (YOLO) has 
# automatically install opencv-python (which MUST NOT BE installed due to incompatibility and replaced by opencv-python-headless" 
# as mentioned above)

# To address this issue, run the following command:
# pip uninstall opencv-python opencv-python-headless opencv-contrib-python -y
# pip install opencv-python-headless
# Then it should work

